[submodule "themes/hugo-theme-ghci"]
	path = themes/hugo-theme-ghci
	url = https://github.com/Binary-Eater/hugo-theme-ghci.git
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
