baseURL = 'https://binary-eater.github.io/'
languageCode = 'en-us'
title = "Rahul Rameshbabu"
theme = 'm10c'
paginate = 8

[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 2
  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 3

[params]
  author = "Rahul Rameshbabu"
  description = "Binary-Eater: A developer focused on low-level programming"
  menu_item_separator = " - "
  [[params.social]]
    icon = "github"
    name = "Github"
    url = "https://github.com/Binary-Eater"